<%= form_for [@category, @award,@recommendation], :url => category_award_recommendations_path(@category, @award),  :html => { :multipart => true}  do |f| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% @recommendation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>* Denotes Required Field</p>



 <% if @award.present? %>
  <div class="field">
	<%= recommendation_nominee_label @award %>*<br />
	<%= f.text_field :nominee %>
  </div>

  <div class="field">
	<%= recommendation_title_label @award %>*<br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= recommendation_dept_label @award %>*<br />
    <%= f.text_field :department %>
  </div>

<% else %>
	<div class="field">
		<%= recommendation_nominee_label @recommendation.award %>*<br />
		<%= f.text_field :nominee %>
	  </div>

	  <div class="field">
		<%= recommendation_title_label @recommendation.award %>*<br />
	    <%= f.text_field :title %>
	  </div>

	  <div class="field">
	    <%= recommendation_dept_label @recommendation.award %>*<br />
	    <%= f.text_field :department %>
	  </div>
<% end %>
  
  <div class="field">
	<% if @award.present? %>
	You are recommending this 
			<% if @award.store_award? %>
					store
			<% elsif @award.open_award? %>
					associate or store
			<% else%>
					associate
			<% end %> 
		
	for the following award: <b><%= @award.name %></b>
	<p><b>Award Description:</b><%= @award.info %></p>
	
	<%= f.hidden_field( :award_id, :value => @award.id ) %>
  

	<% else %>
		You are recommending this  
			<% if @recommendation.award.store_award? %>
				store
			<% elsif @recommendation.award.director_award? %>
				associate or store
			<% else %>
				associate
			<% end %>
		for the following award: <b><%= @recommendation.award.name %></b><br>
		<b>Award Description:</b><%= @recommendation.award.info %>
		<%= f.hidden_field( :award_id ) %>
	<% end %>
	</div>
  

  <div class="field">
   	<b>Summary *</b><br>
	Please write a short overview statement about why this associate deserves to win this category (this will be used for the summary description).<br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <b>Accomplishments in 2011 *</b><br>
	Provide concrete, tangible examples of the results achieved including, but not limited to, applicable statistics, projects completed, legendary service, and interactions with others. Please limit your write-up to 500 words. This write-up will be used by the Best of Bauer Academy to determine nominees and winners.<br />
    <%= f.text_area :accomplishments  %>
  </div>

  <div class="field">
	<b>Supporting Documentation</b><br>
	When you submit your recommendation online, you will also have the option of uploading supporting documentation (photos, a video, a letter of recommendation, etc,).
  </div>

  <div class="field">
	<b>Upload up to 3 files:</b><Br>
	 <%= f.file_field :upload %><br>
     <%= f.file_field :upload2 %><br>
	 <%= f.file_field :upload3 %>
  </div>

  <div class="field">
	Add a note/explanation<Br>
	<%= f.text_field :caption %><br>
	Share a URL:<br> <%= f.text_field :url %>
  </div>
  
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#super').hide();

	    $('#super_checked').change(function() {
	      	$('#not_super').hide();
		    $('#super').show();
	    });
	
		$('#super_false').change(function() {
	       	$('#not_super').show();
		    $('#super').hide();
	    });
	});
	</script>

 
  <div class="field">
    <b>Select the one that matches best: *</b><br />
	<%= f.radio_button( :supervisor, "You ARE the nominee’s direct manager / supervisor", :id => "super_checked") %> You ARE the nominee’s direct manager / supervisor<br>
	<%= f.radio_button( :supervisor, "You ARE NOT the nominee’s direct manager / supervisor", :checked => true, :id => "super_false") %> You ARE NOT the nominee’s direct manager / supervisor
  </div>


  <div class="field">
	<p id="not_super">Supervisor's Email: </p>
	<p id="super">Enter Your Supervisor's Email</p>
	<%= f.fields_for :approvals do |f| %>
		<%= f.text_field :email %>
	<% end %>
	<br>If no Supervisor email is provided, recommendation will be saved without moving up the chain of approval.<br><br>
	
	
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
