<div id="page_body">
<h1>Recommendation Information</h1>


<p><b>Associate:</b> <%= @recommendation.nominee %></p>
<p><b>Award:</b> <%= @recommendation.award.name %></p>
<p><b>Job Title:</b> <%= @recommendation.title %></p>
<p><b>Department:</b> <%= @recommendation.department %></p>	
<p><b>Summary:</b><br> <%= @recommendation.summary %></p>
<p><b>Accomplishments:</b><br> <%= @recommendation.accomplishments %></p>
<p><b>Supervisor:</b> <%= @recommendation.supervisor%></p>
<% if @recommendation.upload.file? %>
<p><b>Attachement:</b> <a href="<%= @recommendation.upload.url %>">File</a></p>
<% else %>
<p>No Attachment</p>
<% end %>
<% if @recommendation.upload2.file? %>
<p><b>Attachement:</b> <a href="<%= @recommendation.upload2.url %>">File</a></p>
<% else %>

<% end %>
<% if @recommendation.upload3.file? %>
<p><b>Attachement:</b> <a href="<%= @recommendation.upload3.url %>">File</a></p>
<% else %>

<% end %>

<p><b>Award:</b> <%= @recommendation.award.name  %></p>

<p><b>Original Recommender:</b> <%= @rec_user.email  %></p>

<p><b>Current Inbox Awaiting Approval:</b><%= @approvals.last.email %></p>

<p>&nbsp;</p>
<h2>Approvals</h2>
<table cellspacing="5">
	<tr>
		<th>Email</th>
		<th>Approved |</th>
		<th>Declined</th>
		<th>SMT?</th>
		<th></th>
	</tr>
	<% @approvals.each do |approval|%>
	<tr>
		<td class="first"><%= approval.email %></td>
		<% if approval.approved == true %>
			<td>&radic;</td>
			<td></td>
		<% else %>
		 	<td></td>
			<td>&radic;</td>
		<% end %>
		<td><%= approval.recommendation.user.smt %></td>
		<td><%= approval.created_at %></td>	
	</tr>
	<% end %>
</table>
</ul>

<%= link_to 'Back', admin_recommendations_path %>
</div>