<div class="page_body">
<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
	<h2>Instructions on page editing</h2>
	# h1 tag<br>
	## h2 tag<br>
	### h3 tag - Add more "#" up to 6<br>
	-    List Items (hyphen, four spaces, item)<br>
	**This is a bold line**<br>
	_this is an italic line_<br>
	<a href="http://daringfireball.net/projects/markdown/syntax#list" target="_blank">Go Here</a> for more info on how to style text
	

  </div>

  <div class="field">
    <%= f.label :body %><br />
	<%= f.text_area( :body, :rows => "20") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>