<h1>Listing pages</h1>

<p><%= link_to "Back to Admin", admin_path %></p>

<table>
  <tr>
    <th>Name</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td class="first"><%= page.name %></td>
    
    
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%#= link_to 'Destroy', page, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h3><%= link_to 'New Page', new_page_path %></h3>
