<h1>Employees</h1>


<p><%= link_to "Back to Admin", admin_path %></p>

<div id="user_index">
	<div class="user_title">
		<p class="name">First Name/Last Name</p> 
		<p class="email">Email</p>
		<p class="admin">Admin</p>
		<p class="smt">SMT</p>
		
	
	</div>
	
<% @users.each do |user| %>
	<div class="user">
		<p class="name"><%= user.first_name %>, <%= user.last_name %></p>
		<p class="email"><%= user.email %></p>
		<p class="admin"><%= user.admin %></p>
		<p class="smt"><%= user.smt %></p>
		
		<p class="edit"><%= link_to "Edit", edit_user_path(user) %></p>
	</div>
<% end %>


