<h1>Listing awards</h1>

<p><%= link_to "Back to Admin", admin_path %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Categories</th>
    <th></th>
    <th></th>
  </tr>

<% @awards.each do |award| %>
  <tr>
    <td class="first"><%= award.name %></td>
	<td class="second"><% award.categories.each do |category| %>
			<%= category.name %>,
		<% end %>
	</td>
 
    <td><%= link_to 'Edit', edit_award_path(award) %></td>
    <td><%= link_to 'Destroy', award, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h3><%= link_to 'New Award', new_award_path %></h3>
