/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
*{margin:0; padding:0;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
body{font-family:Arial; background-color:#E5D9C7 !important; font-size:14px;}
li{list-style:none;}
td{padding-left:5px;}
h1{font-size: 30px;
a img{border-style:none !important;}
img{border-style:none !important; }
line-height: 35px;
color: white;
margin: 0px 0px 25px 0px;
text-weight:bold;
text-transform: uppercase;
text-shadow: 0px 3px 10px #333;
-moz-text-shadow: 0px 3px 10px #333;
-webkit-text-shadow: 0px 3px 10px #333;
-ms-text-shadow: 0px 3px 10px #333;
}

h2{color: #384400;
text-transform: uppercase;
font-size: 15px;
margin: 5px 0;}

h3{
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;}
h3 a{color: #4C4C4C;
font-weight: bold;
text-decoration:underline;
}
.clear{clear:both;}


/* Forms */
.field{padding-bottom:15px; line-height:18px;}
input{font-size:14px; padding:3px; margin-bottom:10px;}
textarea{width:100%; background:#fff !important;}
.nicEdit-main{background-color:#fff; margin:0 !important; padding:5px;}
select{margin-bottom:10px;}
input[type=submit]{background-color:#DD6000; padding:7px; color:#fff; border:none;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;	
	}
	
form p{padding-bottom:10px;}



/*Container */
#container{width:1164px; margin:0 auto 20px auto; border-t}
.home{background:url(bob_home_bg.jpg) no-repeat; min-height:1180px;}
.interior{background:url(new_int_bg.jpg) no-repeat; min-height:1164px;}

#top{padding:20px 0;}
#utility_nav{float:right;padding-right:24px; margin-top:-10px; position:relative;}
#utility_nav li{font-weight:bold; float:left; padding-left:10px; color:#fff; font-size:13px;}
#utility_nav li a{color:#fff;}
#sign_up_in a{text-decoration:underline;}
#utility_nav li#signed_in_as{position:absolute; top:20px; width:300px; right:22px; text-align:right;}

#main_nav{padding-left:22px;}
#main_nav li{float:left; padding-right:20px; margin-right:8px; font-size:13px; font-weight:bold; background:url(menu-dot.png) no-repeat right center; }
#main_nav li a{color:#fff;}
#main_nav li#last{background:none;}

#limiter{width:800px; height:auto; padding-top:80px; margin:0 auto;}
#logo{width:185px; margin:0 auto; padding-top:40px;}

#award_info{padding:15px 0;}
#award_recommendation{padding-top:10px;}

.buttonOrange {
background: #DD6000;
box-shadow: 0 3px 10px #333;
-moz-box-shadow: 0 3px 10px #333;
-webkit-box-shadow: 0 3px 10px #333;
-ms-box-shadow: 0 3px 10px #333;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-ms-border-radius: 5px;
padding: 10px;
color: white;
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
text-decoration: none;
}
/* USERS LIST */
.user_index{width:800px; }
.user_title{width:800px; height:20px; font-weight:bold; border-right:none;}
.user_title .name{width:200px; margin-right:10px;}
.user_title .email{width:260px; margin-right:10px;}
.user_title .admin, .user_smt .email{width:50px; margin-right:10px;}

.user{width:800px; height:20px; clear:both;}
.user p, .user_title p{float:left;}
.user p.name{width: 200px; border-right:1px dashed #384400; margin-right:10px;}
.user p.email{width: 260px; border-right:1px dashed #384400; margin-right:10px;}
.user p.admin{width: 50px; border-right:1px dashed #384400; margin-right:10px;}
.user p.smt{width: 50px; border-right:1px dashed #384400; margin-right:10px;}

.user p.edit{padding-left:10px;}

/* Rec Bar */
#page_body #rec_bar{padding:0 0 20px 0; height:31px; }
#page_body #rec_bar li{float:left; width:160px; height:25px; text-align:center; padding:7px 0 0 0 ; font-size:14px; color:#fff; font-weight:bold; list-style-type:none; margin-left:0; 
	-moz-box-shadow:  1px 0px 5px 0px #000;
	-webkit-box-shadow: 1px 0px 5px 0px #000;
	-ms-box-shadow:1px 0px 5px 0px #000;
	}
#rec_bar li a{color:#fff; font-weight:bold;}
#rec_bar li a:hover{background:none;}
#rec_bar #create{background-color:#384400; position:relative; z-index:5;}
#rec_bar #bar_login{background-color:#4f6802;position:relative; z-index:4;}
#rec_bar #location{background:#658202; position:relative; z-index:3;}
#rec_bar #award_cat{background-color:#799b02;position:relative; z-index:2;}
#rec_bar #form{background-color:#90b803;position:relative; z-index:1;}

#rec_bar_arrow{}
.pos1{padding-left:70px;}
.pos2{padding-left:220px;}
.pos3{padding-left:380px;}
.pos4{padding-left:540px;}
.pos5{padding-left:700px;}

/* Flash */
#notice { background-color: #384400; color:#fff;  }
#error { background-color: #F0A8A8; border: 1px solid #900; color:#fff; }
#notice, #error { width: 90%; margin: 0 auto 10px auto; padding: 5px; }
#notice p, #error p { margin-left: 20px; padding: 0; font-size: .75em; color: #fff; }
#notice a, #error a { text-decoration: none; padding: 0 3px; }
#notice a { border: 1px solid #26722D; color: #fff; }
#error a { border: 1px solid #900; color: #fff; }
#notice a:hover, #error a:hover { color: #fff; border: 1px solid #333; }

.home #notice {margin-top:200px;}

/* Index Pages */
td.first, td.second{width:250px; border-right:1px dashed #384400;}

/* Dynamic Pages Styling */
#page_body{}
#page_body p{padding-bottom:15px; line-height:16px;}
#page_body ul{padding:0 0 10px 15px;}
#page_body ul li{list-style-type:disc;  padding:0 0 5px 0px;  list-style-position:outside;}
#page_body ul li ul{padding-left:20px;}
#page_body ul ul{padding-bottom:3px;}
#page_body ul ul li{list-style-type:circle !important; margin-left:6px;}

.home_text{margin-left:-80px; width:350px;}
#home_recommend{width:800px; text-align:center; padding-top:250px;}
.pad_top{padding-top:20px;}

#page_body .award_cat_list{}
#page_body .award_cat_list li{list-style-type:none;}
.award_cat_list li a {color:#000;}

/* Questions Form */
.simple_form label{width:50px; display:inline-block;}
.simple_form label abbr{display:none;}


/* APPROVAL SHOW */
.approve{padding:10px 0;}

/* LOCATIONS */
#location_buttons{padding-top:20px;}
#location_buttons a{display:inline-block; margin-bottom:20px;}


/* ERROR STYLES */
#error_explanation{border:1px solid red; background-color:#fff; padding:10px; margin:10px 0;}
#error_explanation h2{color:red; padding-bottom:5px; }
#error_explanation ul li{padding-bottom:3px;}
.field_with_errors input{border:2px solid red;}
.field_with_errors textarea{border:2px solid red;}


/* Videos */
.video{width:300px; height: 220px; margin: 10px 10px; float:left;}



