<div id="page_body">
<div id="rec_bar_arrow" class="pos3"><%= image_tag 'recommend_nav.png'%></div>
<%= render  'shared/recommend_timeline' %>

<h1>Location</h1>
	
<h2>Please select a location to begin the recommendation process</h2>
<div id="location_buttons">

<% @categories.each do |category| %>
<% if category.id == 3 || category.id == 4 %>
<% else %>
<p><%= link_to category.name, category, :class => "buttonOrange"%></p>

   
  </tr>
<% end %>
<% end %>


</div>
	
</div>


<!--Make this a link to if admin-->
<%#= link_to 'New category', new_category_path %>
