<h2>Edit <%= @account.name %></h2>

<p><%= link_to "Back to Admin", admin_path %></p>

<%= form_for(@account) do |f| %>


  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div>Admin<br>
	<%= f.check_box :admin%>
  </div>

  <div>SMT<br>
	<%= f.check_box :smt%>
  </div>


  <div><%= f.submit "Update" %></div>
<% end %>




